tensorflow==2.12.0
gdown
dvc
mlflow==2.2.2
notebook
matplotlib
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
numpy
pandas
pytorch
seaborn
nltk
regex
dagshub
transformers
from-root
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
-e .